<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day or night</title>
</head>
<body>

    <header>
        <b>DAY OR NIGHT</b>
    </header>

    <main>
        <p>Provide information about where you are currently and what the time is. You will get a joke during the day or stoicism quote in the night.</p>
        <form action="results/" method="post">
            <div>
                <input type="text" name="city" placeholder="City" pattern="[A-Za-z ]+" title="Only letters are allowed">
            </div>
            <div>
                <input type="time" name="current_time" placeholder="Current time">
            </div>
            <div>
                <button type="submit"> Submit </button>
            </div>
        </form>
        <p style="color:red">{{error}}</p>
    </main>
    
</body>
</html>